#tcomment
script(src=theme.vendors.twikoo)
- var twikooConfig = JSON.stringify(theme.twikoo)
script.
  window.twicomment = !{twikooConfig}
  console.log(window.twicomment)
  
  window.twicomment.el = '#tcomment'
  twikoo.init(window.twicomment)
