#tcomment
script(src=theme.vendors.twikoo)
- var twikooConfig = JSON.stringify(theme.twikoo)
script.
  window.twicomment = !{twikooConfig}
  window.twicomment.el = '#tcomment'
    loadScript("https://cdn.jsdelivr.net/npm/twikoo@latest/dist/twikoo.all.min.js", function () {
    console.log(window.twicomment)
    twikoo.init(window.twicomment)
  })
