#tcomment
script(src=theme.vendors.twikoo)
- var twikooConfig = JSON.stringify(theme.twikoo)
script.
  window.loadScript = function (url, callback){
    var script = document.createElement ("script")
    script.type = "text/javascript";
    if (script.readyState){ //IE
        script.onreadystatechange = function(){
            if (script.readyState == "loaded" || script.readyState == "complete"){
                script.onreadystatechange = null;
                callback();
            }
        };
    } else { //Others
        script.onload = function(){
            callback();
        };
    }
    script.src = url;
    document.getElementsByTagName("head")[0].appendChild(script);
  }
  if(typeof window.twicomment == "undefined"){
    window.twicomment = !{twikooConfig}
    window.twicomment.el = '#tcomment';
    console.log(window.twicomment)
  }
    loadScript("https://cdn.jsdelivr.net/npm/twikoo@latest/dist/twikoo.all.min.js", function () {
    
    twikoo.init(window.twicomment)
  })
